body{
    background-color: #424242;
    margin: 0px;
    width: 100%;
    height: 100%;

}

.littleM{
    float: left;
    margin-top: -5;
}

.littleM a:hover {
    background-color: rgba(0, 0, 0,0);
}

nav {
    position: fixed; top: 0px;
    background-color: #2F415E;
    height: 48px;
    width: 100%;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    z-index: 2;
}

.list{
    list-style: none;
}

a:link, a:visited {
    color: #FBFBFB;
    padding: 14.5px 25px;
    margin-top: -15px;
    text-decoration: none;
    float: right;
}
a:hover, a:active {
    background-color: #424242;
  }

#gallery{
    margin-top: 52px;
    line-height:0;
    -webkit-column-count:5;
    -webkit-column-gap:5px;
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px;
 }

 #gallery img:hover {
    filter: opacity(75%);
 } 

.fa-instagram {
    font-size: 25px;
    color: aliceblue;
}


.container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#instagramLogo {
    float: none;
    padding: 3px;
    background: rgba(0, 0, 0, 0);
}
.foot{
    text-align: center;
    color: aliceblue;
    background-color: #2F415E;
    padding: 25px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
}